# Зависимости
/node_modules
/.pnp
.pnp.js

# Сборка Vite
/dist
/dist-ssr

# Локальные файлы окружения
*.local
.env
.env.*
!.env.example

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Прочие временные файлы
/coverage
.nyc_output
*.tsbuildinfo

# Файлы операционных систем и редакторы
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
